@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css da parde do form e buttons*/
button {
  padding: 7px;
  color: white;
  margin-left: 10px;
}

.container-form input {
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
  width: 80%;
}

input {
  margin-left: 3px;

}

label {
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.62);
}

.form-task {

  height: 100px;
  width: 100%;
}

.container-form {
  width: 60%;
  margin: 25px auto;
}

/* css da task*/
.card-task {
  border-radius: 7px;
  background-color: rgba(30, 143, 255, 0.459);
  display: flex;
  width: 60%;
  height: auto;
  margin: 10px auto;
  padding: 5px;
}

.card-task h3 {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-task {
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  width: 115px;
}

 /* css da parte do Header*/
section {
  display: flex;
  padding: 10px;
  margin: auto;
  background-color: dodgerblue;
  height: 150px;
  width: 100%;
}

section h1 {
  text-align: center;
  width: 200px;
  font-size: 2.5em;
  margin: auto;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  display: flex;
  margin-top: 3%;
  width: 100px;
  justify-self:flex-end;
  position: relative;
  top: 10px;
}

a img {
  width: 35px;
  filter: invert(100%);
  margin: 5px;
}
/* css do titulo h1 tarefas*/
.tarefas {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}